html,body{
scroll-behavior: smooth !important;
}
*{
box-sizing: border-box !important;
}

li{
list-style: none !important;
color: #21bf73;
}

a{text-decoration: none !important;}
a:hover{text-decoration: none !important;}

p{
font-size: 0.9rem;
line-height: 1.6;
font-weight: 400;
color: grey;
}

h1{
margin: 20px 0px 15px 0;
font-weight: bold;
line-height: 1.1;
word-spacing: 4px;
text-align: center;
padding: 4px !important;
}

/* logo part start*/
#logo-text{
font-family: 'Audiowide', cursive;
font-weight: 500;
font-size: 17px;
text-shadow: 0 0 3px #004445;
color: #1b262c;
margin: 20px !important;
};
/* logo part end*/

/**********************Header Extra div start*****************/
.header-extra-div{
width: 100%;
height: auto;
margin-top:10px;
}

.livestatus{
max-width: 100%;
margin-right: 0; 
margin-left: 0; 
}

.same{
background: #fff;
border: medium none;
padding: 50px !important;
border-radius: 3px;
transition: 0.3s;
}

.same h2{
font-family: 'Righteous', cursive;
font-size: 1.9rem;
margin: 20px auto 15px auto;
font-weight: bold;
line-height: 1.1;
word-spacing: 4px;
}

#totalcases{
color:#0779e4;
}

#totaldeaths{
color:#ff3f34;
}

#totalrecovered{
color:#0be881;
}

.extra-div1 h2,.one{
color:#0779e4;
}

.extra-div2 h2,.two{
color:#ff3f34;
}

.extra-div3 h2,.three {
color:#0be881;
}

.same p{
font-family: 'Roboto Slab', serif;
font-weight: 500;
font-size: 1.5rem;
}

.same:hover{
box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
transform: translateY(-20px);
}
/**********************Header Extra div end****************/
#casecontainer{
width: 100% !important;
height: auto;
margin-top: 10px !important;
}

#casecontainer h1{
padding: 10px;
font-family: 'Righteous', cursive;
/* text-decoration: underline; */
color: #34495e;
}

.caserow-container{
width: 100vw !important;
}

.case-dataparent{
margin-top: 10px !important;
display: flex;
flex-direction: row;
justify-content: space-around;
}

.casedata span{
font-family: 'Roboto Slab', serif;
font-size: 20px;

}
.case1 h2,.span1{
color:#3498db;
text-align: center;
}
.case2 h2,.span2{
text-align: center;
color: #f39c12 ;
}
.case3 h2,.span3{
text-align: center;
color:#e74c3c;
}
.case4 h2,.span4{
text-align: center;
color: #9b59b6;
}
.case5 h2,.span5{
text-align: center;
color:#2ecc71;
}
.case6 h2,.span6{
text-align: center;
color: #e74c3c;
}

#table-container{
padding: 24px !important;
}

.table th{
padding: 0.75rem;
vertical-align: top;
border-top: 2px solid #eceeef;
font-weight: 700;

text-align: center;
color: #204051;
}

.table td{
font-size: 17px;
font-weight: 600;
font-family: calibri;
text-align: center;
color: #a34a28;
padding: 3px !important;
}